Body 	{ color: brown; 
	
	background-color: #C5FAD8}
p	{ font-size: 56px}

a 	{font-size: 30px;
	color: green;
	text-decoration: none;
	display: inline-block;
  	transition: transform 0.3s ease;}
a:hover {
  	transform: scale(1.2);
	}
	
button	{
	transform: scale(1.2)}
p1	{font-size: 20px;
	color: blue}
p2	{ font-family: "Luminari", fantasy;
	color: #B838A7}
.link	{color: #000000;}
.link:hover {color: #B838A7;}
  		