h1 {
	font-family:"Times New Roman", Helvetica, Arial;
	text-align:center; 
  	color: 040404;
	size:18px
}

h2 {
	font-family:"Times New Roman", Helvetica, Arial;
	text-align:center; 
  	color: 040404;
	size:12px
}


p {
	font_famaly:"Times New Roman", Helvetica, Arial
	text-align: justify;
	color: black;
  	size: 10px;
}


